html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 96px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  padding-top: 69px;
}

header {
  background-color: black;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.header-div {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}

footer {
  text-align: center;
}

#main-nav {
  display: flex;
  gap: 1rem;
}

#main-nav > a {
  display: flex;
  align-items: center;
  gap: 4px;
}

#main-nav > a:hover {
  color: white;
}

#burger-btn {
  display: none;
}

#main-nav div {
  padding: 16px 0;
  border-top: 1px solid #333;
  text-align: center;
}

.nav-button {
  font-size: 14px;
  color: white;
  text-decoration: none;
  background: linear-gradient(90deg, #9939f3, #ee3491);
  font-weight: 600;
  display: block;
  text-align: center;
  border-radius: 4px;
  padding: 8px 0;
}

.nav-button:hover {
  background: linear-gradient(90deg, #7f30c9, #bd2873);
}

@media (max-width: 768px) {
  #main-nav {
    display: none;
    flex-direction: column;
    background: black;
    position: absolute;
    top: 69px;
    right: 0;
    left: 0;
    padding: 1rem;
  }

  #main-nav.active {
    display: flex;
    gap: 24px;
  }

  #main-nav .nav-link {
    text-decoration: none;
    font-size: 16px;
    color: #9ca3af;
    padding: 0 8px;
    font-weight: 600;
  }

  #burger-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.gradient-logo {
  display: flex;
  align-items: center;
}

.gradient-logo h1 {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

header button {
  background-color: black;
  border: none;
  padding: 0;
}

.hero {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: radial-gradient(circle, #3b2255 0%, #000000 100%);
  gap: 24px;
}

.hero h2 {
  font-size: 48px;
  color: white;
  margin: 0;
}

.hero h2 span {
  display: block;
}

.hero h2 span,
.policy-hero h2 span,
.game-hero h2 span {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.hero p {
  max-width: 768px;
  margin: 0 auto;
}

.hero p,
.policy-hero p {
  font-size: 20px;
  margin: 0;
  color: #9ca3a3;
  line-height: 1.8;
  text-align: center;
}

.welcome-message {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #552c7d;
  background-color: #311a47;
  color: #d8b4ed;
  padding: 8px 16px;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
}

.welcome-message:hover {
  background-color: #7a2fc4;
}

.welcome-message svg {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.hero-buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  align-items: center;
}

.start-playing-btn {
  background: linear-gradient(90deg, #9939f3, #ee3491);
  border: none;
  color: white;
  font-size: 18px;
  padding: 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  width: 240px;
  justify-content: center;
  text-decoration: none;
}

.start-playing-btn:hover {
  background: linear-gradient(90deg, #7f30c9, #bd2873);
}

.view-games-btn {
  background-color: #1f2937;
  border: 1px solid #4b5563;
  color: white;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: auto;
  text-decoration: none;
}

.hero-stats {
  margin-top: 24px;
  width: 100%;
  display: flex;
  gap: 32px;
  color: #9ca3a3;
  font-size: 14px;
  padding-bottom: 128px;
  justify-content: center;
}

.hero-stats div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.features-section {
  background-color: #18202f;
  text-align: center;
  padding: 80px 16px;
}

.features-section h3,
.categories-section h3 {
  margin: 0;
  color: white;
  font-size: 36px;
}

.features-section > p,
.categories-section > p {
  color: #9ca3af;
  line-height: 1.8;
  font-size: 18px;
  margin-bottom: 64px;
}

.features,
.categories {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.feature-card,
.category-card {
  border: 1px solid #3e4c63;
  border-radius: 6px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background: linear-gradient(135deg, #111827, #1e2836);
}

.feature-card:hover {
  border-color: #d946ef;
}

.feature-logo {
  background-color: #342a55;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.feature-title,
.category-title {
  color: white;
  font-size: 20px;
}

.feature-text {
  font-size: 16px;
  color: #9ca3af;
  line-height: 1.8;
}

.categories-section {
  background-color: #1f2937;
  text-align: center;
  padding: 80px 16px;
}

.category-text {
  font-size: 14px;
  color: #9ca3af;
  line-height: 1.8;
  margin: -12px;
}

.category-logo {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.slots-logo {
  background-color: #e12f2f;
}

.table-games-logo {
  background-color: #1db655;
}

.tournaments-logo {
  background-color: #2d6eef;
}

.live-games-logo {
  background-color: #983bed;
}

.categories-section a {
  background: linear-gradient(90deg, #9939f3, #ee3491);
  border: none;
  color: white;
  font-size: 14px;
  padding: 12px 32px;
  border-radius: 6px;
  margin: 48px auto 0;
  text-decoration: none;
}

.explore-games-btn {
  margin-top: 48px;
}

.categories-section a:hover {
  background: linear-gradient(90deg, #7f30c9, #bd2873);
}

footer {
  padding: 48px 16px;
  background-color: black;
}

.footer-logo {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
  justify-content: center;
}

.footer-logo h3 {
  margin: 0;
  font-size: 20px;
  color: white;
}

footer p {
  font-size: 14px;
  margin: 0;
  color: #9ca3af;
}

.footer-text {
  font-size: 14px;
  color: #9ca3af;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 32px;
  margin-top: 32px;
}

/* Policy Page */

#policy-main {
  background-color: #1f2937;
}

.policy-hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px 16px 48px;
  background: linear-gradient(135deg, #131a29, #1f2937);
}

.policy-hero h2 {
  margin: 0;
  color: white;
  font-size: 36px;
}

#policy-update {
  font-size: 14px;
  color: #6b7280;
}

#policy-contents {
  padding: 48px 16px;
}

.content-container {
  background-color: #18202f;
  padding: 24px;
  border-radius: 8px;
}

.content-container h3 {
  color: white;
  font-size: 18px;
  margin: 0 0 16px;
}

.content-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-links a:hover {
  background-color: #1f2937;
}

.content-links a {
  font-size: 14px;
  text-decoration: none;
  color: #9ca3af;
  padding: 8px 12px;
  display: flex;
  gap: 8px;
  border-radius: 4px;
}

#policy-introduction {
  padding: 0 16px;
  margin-bottom: 32px;
}

.introduction-container {
  padding: 32px;
  background-color: #1a2332;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.introduction-container h3 {
  margin: 0;
  font-size: 24px;
  color: white;
}

.introduction-container p {
  margin: 0;
  color: #d1d5db;
  line-height: 1.625;
}

#collection,
#information,
#protection,
#rights,
#security {
  padding: 0 16px;
  padding-bottom: 32px;
}

#collection p,
#information p,
#protection p,
#rights p,
#security p,
#collection h3,
#information h3,
#protection h3,
#rights h3,
#security h3 {
  margin: 0;
}

.collection-container,
.information-container,
.protection-container,
.rights-container,
.security-container {
  padding: 32px;
  background-color: #1a2332;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#collection h3,
#information h3,
#protection h3,
#rights h3,
#security h3 {
  color: white;
  font-size: 24px;
}

#collection p,
#information p,
#protection p,
#rights p,
#security p {
  color: #d1d5db;
  line-height: 1.625;
}

.collection-text {
  font-size: 20px;
  color: white;
  margin-bottom: 12px;
}

.information-list {
  margin: 0 0 0 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.information-list li::marker {
  color: #c084fc;
}

.protection-cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.protection-card {
  background-color: #1d2635;
  border-radius: 8px;
  padding: 16px;
}

.protection-card-header,
.right-header {
  color: white;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
}

.protection-card-text,
.right-text,
.contact-text {
  color: #d1d5db;
  line-height: 1.25rem;
  font-size: 14px;
}

.rights-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.right-card {
  padding: 16px;
  border: 1px solid #374151;
  border-radius: 8px;
}

#security {
  padding-bottom: 96px;
}

.contact-card {
  padding: 24px;
  border: 1px solid #a955f74d;
  background: linear-gradient(to right, #2d2049, #392038);
  border-radius: 8px;
}

.contact-header {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.contact-details {
  color: #d8b4fe;
  line-height: 1.25rem;
  font-size: 14px;
  margin-top: 8px;
}

.policy-section-header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.policy-section-logo {
  height: 40px;
  width: 40px;
  background-color: #362d59;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* Games Page */

.game-hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px 16px 48px;
  background: linear-gradient(135deg, #131a29, #1f2937);
}

.game-hero h2 {
  margin: 0;
  color: white;
  font-size: 36px;
}

.game-hero p,
.game-description-section p {
  font-size: 20px;
  margin: 0 0 16px 0;
  color: #9ca3a3;
  line-height: 1.75rem;
  text-align: center;
}

.game-hero .welcome-message {
  margin-bottom: 24px;
}

#games-section {
  padding: 48px 16px;
  background-color: #1f2937;
}

.all-games-container {
  max-width: 1280px;
  margin: 0 auto;
}

#games-section h2 {
  color: white;
  font-weight: 600;
  margin-bottom: 32px;
}

#games-section span {
  color: #9ca3af;
}

.games-card-container {
  display: grid;
  gap: 24px;
}

.games-card {
  border: 1px solid #374151;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.games-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.games-card-image {
  background: linear-gradient(to right, #581a83, #821846);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16/9;
  position: relative;
}

.games-card-image svg {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Darken effect */
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.play-now-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #9333ea;
  color: white;
  text-decoration: none;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.play-now-button:hover {
  background-color: #7e22ce;
}

.games-card:hover .overlay {
  opacity: 1;
}

.games-card:hover .play-now-button {
  opacity: 1;
}

.games-card-details {
  padding: 16px;
  background: linear-gradient(to right, #171f2d, #1d2735);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.games-card-title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 8px;
}

.games-card-text {
  font-size: 14px;
  color: #9ca3af;
  margin-bottom: 12px;
}

.games-card-stats {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: white;
}

.games-card-info {
  display: flex;
  gap: 8px;
}

.games-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.games-players {
  color: #9ca3af;
}

/* Each Game Page */

.game-description-section {
  background: linear-gradient(135deg, #131a29, #1f2937);
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px 16px 48px;
}

.game-description-section h2 {
  margin: 0;
  color: white;
  font-size: 36px;
}

.game-description-section span {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.game-description-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  color: white;
  width: 250px;
}

.game-description-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game-description-details div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-game {
  background: #1f2937;
  padding-bottom: 48px;
}

.featured {
  color: #fef9c3;
  background-color: #facc15;
  border-radius: 50px;
  padding: 4px 8px;
  font-weight: 600;
}

.beginner {
  color: #4ade80;
}

.max-wins {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

.game-description-stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  padding: 48px 16px;
}

.game-description-stats > div {
  border: 1px solid #4f5a6b;
  border-radius: 8px;
  padding: 24px;
  background: linear-gradient(to left, #171f2d, #1d2735);
}

.game-stat-name {
  font-size: 18px;
  font-weight: 600;
  color: #e8489d;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-stat-value {
  font-size: 32px;
  font-weight: 800;
  color: white;
  margin-bottom: 8px;
}

.game-stat-description {
  font-size: 14px;
  color: #9ca3a3;
}

.game-container {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game-border {
  background: linear-gradient(90deg, #a855f7, #ec4899);
  padding: 8px;
  border-radius: 12px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
}

.game-frame {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-radius: 10px;
  max-width: 1280px;
}

.game-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.game-features {
  display: flex;
  padding: 24px;
  flex-direction: column;
  border: 1px solid #4f5a6b;
  border-radius: 8px;
  background: linear-gradient(to left, #171f2d, #1d2735);
  margin: 32px 24px 0;
  max-width: 1232px;
}

.game-features-header {
  color: #e8489d;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 24px;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.game-feature-titles {
  font-weight: 600;
  font-size: 24px;
  color: white;
  margin-bottom: 12px;
}

.game-feature-container {
  color: #d1d5db;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.game-feature-container > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.game-analytics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  max-width: 1280px;
  margin: 0 auto 8px;
}

.game-analytics > div:first-of-type {
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-analytics > div:last-of-type {
  border: 1px solid #f43f5e;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-analytics > div:last-of-type > div:first-of-type {
  width: 8px;
  height: 8px;
  background-color: #f43f5e;
  border-radius: 100%;
}

.cta {
  font-size: 28px;
  background: linear-gradient(90deg, #a855f7, #ec4899);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-top: 4px;
}

@media (min-width: 768px) {
  #main-nav {
    align-items: center;
    gap: 32px;
  }

  #main-nav div {
    border: none;
    padding: 0;
  }

  #main-nav > a {
    text-decoration: none;
    color: #d1d5db;
    font-size: 14px;
    font-weight: 600;
  }

  .nav-button {
    padding: 8px 16px;
  }

  .hero h2 {
    font-size: 72px;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: center;
  }

  .features-section,
  .categories-section {
    padding: 80px 24px;
  }

  .features {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1216px;
    margin: 0 auto;
  }

  .categories {
    grid-template-columns: 1fr 1fr;
    max-width: 1216px;
    margin: 0 auto;
    gap: 24px;
  }

  /* Games Page */
  .games-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .game-hero h2 {
    font-size: 60px;
  }

  .game-hero p {
    width: 672px;
    margin-bottom: 32px;
  }

  /* Policy Page */

  #policy-main h2 {
    font-size: 48px;
  }

  .protection-cards-container {
    flex-direction: row;
  }

  .rights-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .game-description-section span {
    font-size: 60px;
  }

  .game-description-stats {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
  }

  .features-container {
    flex-direction: row;
  }

  .features-container > div {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .categories {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  /* Games Page */
  .header-div {
    padding: 16px 32px;
  }

  .games-card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .all-games-container {
    padding: 0 16px;
  }

  /* Policy Page */

  .policies-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;
    padding: 48px 32px;
    max-width: 1152px;
    margin: 0 auto;
  }

  .policy-contents {
    grid-column: span 1 / span 1;
  }

  .content-container {
    position: sticky;
    top: 96px;
  }

  .content-sections {
    grid-column: span 3 / span 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  #policy-contents,
  #policy-introduction,
  #collection,
  #information,
  #protection,
  #rights,
  #security {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .games-card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 32px;
    margin: 0 auto;
  }

  #games-section h2 {
    margin-left: 32px;
  }

  .game-features {
    margin: 32px auto;
  }
}
